<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Cross_Platform_OpenGL.Android.Cross_Platform_OpenGL.Android" android:versionCode="1" android:versionName="1.0">
  <uses-sdk android:minSdkVersion="16" />
  <application android:label="Cross_Platform_OpenGL.Android"></application>
</manifest>